<ion-view title="Game Configuration">

  <ion-nav-buttons side="secondary">
    <button class="button" ng-click="goToHomePage()">
      <i class="icon ion-ios-home-outline"></i>
    </button>
  </ion-nav-buttons>

  <ion-content overflow-scroll="true" padding="true" style="background: url(img/RzuOWWn4TeWoEUXSJddx_tan_background.jpg) no-repeat center;" class="has-header">

      <div class="operator_field" id="operator_set">
        <div class="item item-divider">
          Select Operator Set <span class="game-comment">{{disableReason}}</span>
        </div>
        <div>
          <ion-checkbox ng-model="operator.add" class="add_circle operator_toggle" ng-disabled="chkDisabled"></ion-checkbox>
          <ion-checkbox ng-model="operator.subtract" class="subtract_circle operator_toggle" ng-disabled="chkDisabled"></ion-checkbox>
          <ion-checkbox ng-model="operator.multiply" class="multiply_circle operator_toggle" ng-disabled="chkDisabled"></ion-checkbox>
          <ion-checkbox ng-model="operator.divide" class="divide_circle operator_toggle" ng-disabled="chkDisabled"></ion-checkbox>
        </div>
      </div>

      <div class="operator_field" id="number_set" ng-show="getOperatorStatus()">
        <div class="item item-divider">
          Select Number Set
        </div>
        <div>
          <label class="item item-select" name="select_number_set">
            <select ng-model="selected_id" ng-change="updateSelection(selected_id)" >
              <option ng-repeat="number_set_item in number_set_items" value="{{number_set_item.id}}">{{setToString(number_set_item.set)}}</option>
            </select>
          </label>
        </div>
      </div>

      <a ng-click="newGame()" ng-show="current_selection_id" id="play_button" href="#/cagesPuzzle/{{makeParams()}}" class="btn colTurquoise ">Play</a>

    </ion-content>
</ion-view>
