<ion-view title="Help">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h1>Help Topics</h1>
        <div>
            <p>Some friendly
                <strong>markdown</strong>
                Some friendly
                <strong>markdown</strong>
                Some friendly
                <strong>markdown</strong>
                Some friendly
                <strong>markdown</strong>
                Some friendly
                <strong>markdown</strong>
                Some friendly
                <strong>markdown</strong>
                Some friendly
                <strong>markdown</strong>
            </p>
        </div>
    </ion-content>
</ion-view>