<ion-view title="Cages Home">
    <ion-content overflow-scroll="true" padding="true"
                 style="background: url(img/gElpOfERRPGoLpBDKcwy_tan_background.jpg) repeat;" class="has-header">
        <img src="img/Cages.png" class="cages_logo">
        <a href="#/savedGameSelection" class="btn colTurquoise ">Saved Games</a>
        <a href="#/puzzleSizesPage" class="btn colTurquoise ">Play</a>
        <a href="#/settingsPage" class="btn colTurquoise ">Settings</a>
        <a href="#/helpPage" class="btn colTurquoise ">Help</a>
        <a href="#/loginPage" class="btn colTurquoise ">Logout</a>
    </ion-content>
</ion-view>
