<ion-view title="Puzzles">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/mnPkZe8S8ycSHtpimHcg_tan_background.jpg) no-repeat center;" class="has-header">
      <div class="puzzleSizePageBtn-container">
        <a href="#/gameSelection/4" class="puzzleSizePageBtn colTurquoise">4x4</a>
        <a href="#/gameSelection/5" class="puzzleSizePageBtn colTurquoise">5x5</a>
        <a href="#/gameSelection/6" class="puzzleSizePageBtn colTurquoise">6x6</a>
        <a href="#/gameSelection/7" class="puzzleSizePageBtn colTurquoise">7x7</a>
      </div>
    </ion-content>
</ion-view>
