<ion-view title="Settings" class="my_settings">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <h4>GAME TOOLS</h4>
        <form class="list">
            <ion-toggle ng-model="items.smartNotes" ng-change="toggleChanged(items.smartNotes)" toggle-class="toggle-balanced" name="smartNotes">Smart Notes</ion-toggle>
        </form>
        <div>
            <p>Notes will disappear once they have become impossible due to placed numbers</p>
        </div>
        <form class="list">
            <ion-toggle ng-model="items.smartButtons" ng-change="toggleChanged(items.smartButtons)" toggle-class="toggle-balanced" name="smartButtons">Smart Buttons</ion-toggle>
        </form>
        <div>
            <p>Notes will disappear once they have become impossible due to placed numbers</p>
        </div>
        <h4>FEATURES</h4>
        <form class="list">
            <ion-toggle ng-model="items.showTimer" ng-change="toggleChanged(items.showTimer)" toggle-class="toggle-balanced" name="showTimer">Show Timer</ion-toggle>
            <ion-toggle ng-model="items.padMode" ng-change="toggleChanged(items.padMode)" toggle-class="toggle-balanced" name="padMode">Pad Mode</ion-toggle>
        </form>
        <div>
            <p>Tap and hold puzzle square for number pad</p>
        </div>
        <form class="list">
            <ion-toggle ng-model="items.alternativeInput" ng-change="toggleChanged(items.alternativeInput)" toggle-class="toggle-balanced" ng-checked="true" name="alternativeInput">Alternative Input Mode</ion-toggle>
        </form>
    </ion-content>
</ion-view>