# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/

hooks/
platforms/
resources/
plugins/

.idea/
www/lib/
www/js/game/

# DW Dreamweaver added files
_notes
dwsync.xml
